<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/normalize.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>{{title}}</h1>
				<p>{{description}}</p>
			</header>
			{{{body}}}
		</div>
	</body>
</html>
