.Languages {
  margin: 4rem auto;
  max-width: 50rem;
  text-align: left;
}

.Languages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #74c293;
  color: #fff;
}

.Languages-header h2 {
  margin: 0;
  font-size: 1rem;
}

.Languages-header input {
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  background: #fff;
}

.Languages table {
  border: 1px solid #74c293;
  border-top: none;
  box-shadow: 0 1px 0 #74c293;
  border-collapse: collapse;
  width: 100%;
}

.Languages tr {
  border-bottom: 1px solid #74c293;
}

.Languages th,
.Languages td {
  padding: 1em;
}

.Languages tfoot {
  font-weight: bold;
}
