<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 footer-text">
                    <img src="/img/logo.png" class="logotype">
                    <p>At <span style="font-weight: bold ;font-style: italic">Luigi's Italian Cuisine</span> we start cooking
                        your fresh delicious meal from scratch. Every ingredient is locally source, organic and freshly prepared
                        as an individual meal and<span style="font-weight: bold;font-style: italic"> cooked to perfection just
                        for you</span></p>
                    <p class="copyright">Copyright &copy; Your Website 2017</p>

                </div>
                <div class="col-md-3 address-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Luigi's Italian Cuisine
                    <p class="footer-address">1234 East Main Street, Village of Food, NY</p>
                    <button type="button" class="btn btn-primary">GET DIRECTIONS</button>
                </div>
                <div class="col-md-3 contact-text">

                    <i class="fa fa-phone" aria-hidden="true">
                        <a href="tel:+441234567890"> 123-4567-890</a>
                        </i>

                    <i class="fa fa-envelope-o" aria-hidden="true"><a href="contact">contact</a></i>
                </div>
                <div class="col-md-6 social-madia">


                    <i class="fa fa-google-plus fa-square-o" aria-hidden="true" href="wwww.plus.google.com"></i>
                    <i class="fa fa-facebook fa-square-o" aria-hidden="true" href="www.facebook.com"></i>
                    <i class="fa fa-twitter fa-square-o" aria-hidden="true" href="wwww.twitter.com"></i>
                </div>
            </div>
        </div>

</footer>