<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=".col-md-6.col-md-3">
                    <img src="/img/logo.png">
                    <br/>
                    <br/>
                    <p>this is text inside the footer</p>
                    <i class="fa fa-phone" aria-hidden="true"><a href="tel:+441234567890" class="phone"> 123-4567-890</a></i>
                    <i class="fa fa-map-marker icon" aria-hidden="true"></i>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <div class="col-md-4">
                        <i class="fa fa-google-plus fa-square-o" aria-hidden="true" href="wwww.plus.google.com"></i>
                        <i class="fa fa-facebook fa-square-o" aria-hidden="true" href="www.facebook.com"></i>
                        <i class="fa fa-twitter fa-square-o" aria-hidden="true" href="wwww.twitter.com"></i>
                    </div>
            </div>
            </div>
        </div>

        <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
</footer>