<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="menu_container">
                <div class="logo_container">
                    <i class="fa fa-phone" aria-hidden="true"><a href="tel:+441234567890" class="phone"> 123-4567-890</a></i>
                    <a class="navbar-brand" href="index"> <img src="/img/logo.png"> </a>
                    <div class="social-media">
                        <img src="/img/google_grey.png" class="icon" href="wwww.plus.google.com/">
                        <img src="/img/facebook_grey.png" class="icon" href="www.facebook.com">
                        <img src="/img/twitter_grey.png" class="icon" href="www.twitter.com">
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="menu"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/menu.png" class="icon">  FOOD & DRINK MENU <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li></li>
                            <li><a href="#">Food Menu</a></li>
                            <li><a href="#">Dessert Menu</a></li>
                            <li><a href="#">Drinks Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="reservation"> <img src="/img/calendar.png" class="icon"> MAKE A RESERVATION</a>
                    </li>
                    <li>
                        <a href="story"> <img src="/img/story.png" class="icon"> OUR STORY</a>
                    </li>
                    <li>
                        <a href="contact"> <img src="/img/contact_grey.png" class="icon">  CONTACT & DIRECTIONS</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>