<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="container_fluid">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-phone" aria-hidden="true"><a href="tel:+441234567890" class="phone"> 123-4567-890</a></i>
                    </div>
                    <div class="col-md-4">
                        <a class="navbar-brand" href="/"> <img src="/img/logo.png"> </a>
                    </div>
                    <div class="col-md-4">
                        <a target="_blank" href="http://wwww.plus.google.com"> <i class="fa fa-google-plus fa-square-o" aria-hidden="true"> </i></a>
                        <a target="_blank" href="http://www.facebook.com"> <i class="fa fa-facebook fa-square-o" aria-hidden="true"></i></a>
                        <a target="_blank" href="http://www.twitter.com">  <i class="fa fa-twitter fa-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <i class="fa fa-cutlery icon" aria-hidden="true">  
                        <a href="menu" class="dropdown-toggle menu-items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            FOOD & DRINK MENU 
                            <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="/menu">Food Menu</a></li>
                            <li><a href="#">Dessert Menu</a></li>
                            <li><a href="#">Drinks Menu</a></li>
                        </ul>
                        </i>
                    </li>
                    <li>
                        <i class="fa fa-calendar icon" aria-hidden="true"> 
                        <a href="reservation" class="menu-items"> MAKE A RESERVATION </a>
                        </i>
                    </li>
                    <li>
                        <i class="fa fa-file-text icon" aria-hidden="true"> 
                        <a href="story" class="menu-items"> OUR STORY </a>
                        </i>
                    </li>
                    <li>
                        <i class="fa fa-map-marker icon" aria-hidden="true"> 
                        <a href="contact" class="menu-items">CONTACT & DIRECTIONS</a>
                        </i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>