<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="menu_container">
                <div class="logo_container">
                <img src="/img/phone.png" class="icon">
            <a class="navbar-brand" href="index"> <img src="/img/logo.png"> </a>
             <img src="/img/facebook_grey.png" class="icon" href="www.facebook.com">
                </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="menu"> <img src="/img/menu.png" class="icon">  FOOD & DRINK MENU</a>
                </li>
                <li>
                    <a href="reservation"> <img src="/img/calendar.png" class="icon"> MAKE A RESERVATION</a>
                </li>
                <li>
                    <a href="story"> <img src="/img/story.png" class="icon"> OUR STORY</a>
                </li>
                <li>
                    <a href="contact"> <img src="/img/contact_grey.png" class="icon">  CONTACT & DIRECTIONS</a>
                </li>
            </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>