
img.logo{
    width:25%;

}
.social-midia{
    display: flex;
    flex-direction: row;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}