.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #74c293;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5rem;
  margin: 0;
}
