.Favourites {
  display: flex;
  margin: 4rem auto;
  max-width: 50rem;
  border: 1px solid #ddd;
  border-bottom-width: 4px;
  border-top: 0;
  box-shadow: 0 -4px 0 #ef7f7f;
  padding: 1.5rem;
  text-align: left;
}

.Favourites h2 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

.Favourites-breeds {
  flex-grow: 2;
}

.Favourites-saved {
  flex-grow: 1;
}

.Favourites-photos {
  display: flex;
  flex-wrap: wrap;
}

.Favourites-photos img {
  max-width: 80px;
  height: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
