.Balance {
	margin: 0 auto;
	padding: 4rem 0;
	background: #c9d4de;
}

.Balance-title {
	margin: 0 auto;
	font-size: 1rem;
	font-weight: normal;
}

.Balance-total {
	display: block;
	margin: 1rem auto;
	font-size: 3rem;
	font-weight: 300;
}

.Balance-alt {
	margin-top: 2rem;
}

.Balance-alt select {
	margin-left: 0.5rem;
}
