.Balance {
	margin: 0 auto;
	padding: 4rem 0 3rem;
	font-size: 1rem;
	font-weight: normal;
	background: #c9d4de;
}

.Balance-total {
	display: block;
	margin: 1rem auto;
	font-size: 3rem;
	font-weight: 300;
}
