<div class="container-fluid">
	<div class="container">
		<div class="row full-text">
			<h1>TWO-COLUMN MENU</h1>
			<p class="bodytext">DELICIOUS FOOD<a href="">Quickly confirm or reject a booking</a> Admin email notification when a booking request is made
				Customer email notifications when their <a href=""> is confirmed or rejected Limit</a> available booking times
				<span style="font-weight:bold;font-style:italic"> booking on Christmas below) Customer.
					</span>
			</p>
			<!--title = h1
                text=bodytext  -->
		</div>
		<div class="row">
			<div class="two-col col-sm-6">
				<h4>Starters</h4>
				<hr>
				<!--title = h2
                 -->
				<div class="row">
					<div class="img-col col-sm-2">
						<img src="/img/menu05.jpg">
					</div>
					<div class="text-col col-sm-6">
						<h6>Goat's cheese parcel</h6>
						<p class="body-text">Organic, free-range goat's cheese parcel on a yoghurt and mint sauce</p>

						<!--title = h6
                 text=bodytext-->
					</div>
					<div class="col-sm-1">
						<p class="golden-text">7.99</p>

					</div>
				</div>
				<div class="row">
					<div class="img-col col-sm-2">
						<img src="/img/menu02.jpg">
					</div>
					<div class="text-col col-sm-6">
						LEEKS VINAIGRETTE WITH SAUCE GRIBICHE
						<p class="body-text">Organic, free-range goat's cheese parcel on a yoghurt and mint sauce</p>
						<!--title = h6
                 text=bodytext-->
					</div>
				</div>
				<div class="row">
					<div class="img-col col-sm-2">
						<img src="/img/menu01.jpg">
					</div>
					<div class="text-col col-sm-6">
						MORELS WITH ASPARAGUS
						<p class="body-text">Organic, free-range goat's cheese parcel on a yoghurt and mint sauce</p>
						<!--title = h6
                 text=bodytext-->
					</div>
				</div>

			</div>
			<div class="two-col col-sm-6">
				<h4>Main Courses</h4>
				<hr>
				<!--title = h6
                 text=bodytext-->
			</div>
		</div>
		<div class="row full-text">
			FULL WIDTH DESERT
			<!--title = h1
                 -->
		</div>
		<div class="row">
			<div class="three-col col-sm-4">
				1 FOOD COLUMN
				<!--title = h6
                 text=bodytext-->
			</div>
			<div class="three-col col-sm-4">
				2 FOOD COLUMN
				<!--title = h6
                 text=bodytext-->
			</div>
			<div class="three-col col-sm-4">
				3 FOOD COLUMN
				<!--title = h6
                 text=bodytext-->
			</div>
		</div>
	</div>
</div>