{{!--
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{#each posts}}
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    {{this.title}}
                </h2>
                <h3 class="post-subtitle">
                    {{this.summary}}
                </h3>
                <p class="post-content">
                    {{this.content}}
                </p>
            </a>
        </div>
        {{/each}}
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>--}}

<div class="container">
    <section class="gallary-foot-test">
        <div class="gallary">
            <img src="https://www.countdown.co.nz/media/3557/recipe_carrot-soup-with-feta-and-quinoa.jpg">
            <img src="https://www.countdown.co.nz/media/3556/recipe_asian-style-duck.jpg">
            <img src="https://www.countdown.co.nz/media/3560/recipe_potato-and-salmon-frittata.jpg">
        </div>
        <div class="foot-test">
            <i class="fa fa-cutlery"></i>
            <h1>Made From Scratch</h1>
            <span><strong>DELECIOUS</strong> FOOD</span>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
            </p>
            <button type="button">VIEW OUR MENU</button>
            <button type="button">MAKE A RESERVATION</button>
        </div>
        <div class="clear-fix"></div>
    </section>
</div>

<!-- =============== New section============= -->
<br>
<div class="rest-owner-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="photo">
                        <img src="https://i.ytimg.com/vi/2JUG-WMPfbE/maxresdefault.jpg">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1>Jane Doe</h1>
                    <h4>Local Foodie Magazine</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="photo-text">
                <div class="star-rate">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
            </div>
        </div>
    </div>
</div>

    

    

<div class="">
    <div class="row second-items-gallaries">
        <div class="col-lg-7 second-gall-info">
            <div class="item">
                <i class="my-card fa fa-id-card-o"></i>
                <h1>Special Event</h1>
                <span><strong> EVENT</strong> CATERING</span>
                <div class="event-border"></div>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal 
                    The point of using Lorem Ipsum is that it has a more-or-less normal.
                </p>
                <button type="button">CONTACT US ABOUT YOUR EVENT</button>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-12 second-gall-img">
                    <img src="https://cdn.londonandpartners.com/assets/attractions/eat/46104-640x360-spaghetti-house-spag-bol-640.jpg">
                    <div class="row">
                        <div class="col-lg-12 second-gall">
                            <img src="http://i.ndtvimg.com/i/2015-04/restaurant-generic-thinkstock-650_650x400_71429793774.jpg">
                            <img src="http://visitbristol.co.uk/imageresizer/?image=%2Fdmsimgs%2FWalters-2_217918459.jpg&action=ProductDetail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="foot-test">
       <i class="fa fa-cutlery"></i>
        <h1>Made From Scratch</h1>
         <span><strong>DELICIOUS</strong> FOOD</span>
         <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
         </p>
         <button type="button">VIEW OUR MENU</button>
         <button type="button">MAKE A RESERVATION</button>

    </div>
</div>
        
        
    <div class="row calinder-section">
        <div class="col-lg-6">
            
        <div class="warp-menu">
            <i class="menu fa fa-bars"></i>
            <span><strong>RECENT</strong> NEWS</span>
        </div>
        <h3>Luigi's win Best Foodie Source' award</h3>
        <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
        </p>
        <a href="https://www.google.co.uk/search?q=google&oq=goo&aqs=chrome.0.0j69i60l3j0j69i60.3016j0j4&sourceid=chrome&ie=UTF-8"
            target="blank"><button class="btn btn-info">More Info</button>
        </a>
        <br>
        <div class="foot-test">
            <h3>Luigi's win Best Foodie Source' award</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
            </p>
            <a href="https://www.tripadvisor.co.uk/Restaurants-g186534-Glasgow_Scotland.html" target="blank">
                <button class="btn btn-info">More Info</button>
            </a>
        </div>
        </div>
        <div class="col-lg-6 calinder">
            <i class="fa fa-clock-o"></i>
            <span><strong>OPENING</strong> NEWS</span>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
            <table style="width:100%">
            <tr>
                <td>MONDAY</td>
                <td>9:00am-5:00pm</td>
            </tr>
            <tr>
                <td>TUESDAY</td>
                <td>9:00am-5:00pm</td>

            </tr>
            <tr>
                <td>WEDNESDAY</td>
                <td>9:00am-5:00pm</td>
            </tr>
            <tr>
                <td>THRUSDAY</td>
                <td>9:00am-5:00pm</td>
            </tr>
            <tr>
                <td>FRIDAY</td>
                <td>9:00am-5:00pm</td>
            </tr>
            <tr>
                <td>SATURDAY</td>
                <td>9:00am-5:00pm</td>
            </tr>
            <tr>
                <td>SUNDAY</td>
                <td>.....Closed</td>
            </tr>
            <tr>
        </table>
        <button class="first-button" type="button">GET DIRECTION</button>
        <button class="second-button" type="button">GET DIRECTION</button>
        </div>
    </div>      
</section>