{{!--<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{#each posts}}
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    {{this.title}}
                </h2>
                <h3 class="post-subtitle">
                    {{this.summary}}
                </h3>
                <p class="post-content">
                    {{this.content}}
                </p>
            </a>
        </div>
        {{/each}}
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>--}}

<div class="container">
    <section class="gallary-foot-test">
    <div class="gallary">
        <img src="https://www.countdown.co.nz/media/3557/recipe_carrot-soup-with-feta-and-quinoa.jpg">
         <img src="https://www.countdown.co.nz/media/3556/recipe_asian-style-duck.jpg">
          <img src="https://www.countdown.co.nz/media/3560/recipe_potato-and-salmon-frittata.jpg">
    </div>
    
    <div class="foot-test">
       <i class="fa fa-cutlery"></i>
        <h1>Made From Scratch</h1>
         <span><strong>DELICIOUS</strong> FOOD</span>
         <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
         </p>
         <button type="button">VIEW OUR MENU</button>
         <button type="button">MAKE A RESERVATION</button>
    </div>
    <div class="clear-fix"></div>
</section>
</div>