<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{#each posts}}
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    {{this.title}}
                </h2>
                <h3 class="post-subtitle">
                    {{this.summary}}
                </h3>
                <p class="post-content">
                    {{this.content}}
                </p>
            </a>
        </div>
        {{/each}}
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>