<html>

<head>
    <title>layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row full-text">
                FULL WIDTH TEXT
                <!--title = h1
                text=bodytext  -->
            </div>
            <div class="row">
                <div class="two-col col-md-6">
                    STARTERS
                     <!--title = h2
                 -->
                    <div class="row">
                    <div class="img-col col-md-2">
                        IMG
                    </div>
                    <div class="text-col col-md-4">
                        FOOD ITEMS
                          <!--title = h6
                 text=bodytext-->
                    </div>
                    </div>

                </div>
                <div class="two-col col-md-6">
                    MAIN COURSE
                          <!--title = h6
                 text=bodytext-->
                </div>
            </div>
            <div class="row full-text">
                FULL WIDTH DESERT
                      <!--title = h1
                 -->
            </div>
            <div class="row">
                <div class="three-col col-md-4">
                    1 FOOD COLUMN
                          <!--title = h6
                 text=bodytext-->
                </div>
                <div class="three-col col-md-4">
                    2 FOOD COLUMN
                          <!--title = h6
                 text=bodytext-->
                </div>
                <div class="three-col col-md-4">
                    3 FOOD COLUMN
                          <!--title = h6
                 text=bodytext-->
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>