<div class="container-fluid">
	<div class="row menu-row">
		<div class="starters">starters</div>
		<div class="entrees">entrees</div>
		<div class="col-md-8">
		</div>
		<div class="col-md-4">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<i class="fa fa-cutlery icon" aria-hidden="true">  
                        <a href="menu" class="dropdown-toggle menu-items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            FOOD & DRINK MENU 
                            <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">Food Menu</a></li>
                            <li><a href="#">Dessert Menu</a></li>
                            <li><a href="#">Drinks Menu</a></li>
                        </ul>
                        </i>
				</li>

		</div>
	</div>
</div>