<div class="container-fluid container-reservations">
    <div class="col-md-8 reservations">
        <p class="title"> RESERVATIONS </p>

        <p class="body-text">Take restaurant reservations and table bookings through your website. This theme comes with integrated support for
            my <a href="/">Restaurant Reservations plug-in</a>. Quickly confirm or reject bookings, send email notifications
            et booking times and more.</p>

        <p class="title"> FEATURES </p>
        <ul class="list-body-text">
            <li> Quickly confirm or reject a booking </li>
            <li> Admin email notification when a booking request is made</li>
            <li>Customer email notifications when their request is confirmed or rejected</li>
            <li>Limit available booking times (try booking on Christmas below)</li>
            <li>Customer user role to manage bookings</li>
            <li>Add your booking form to any page, post or widget area</li>
            <li>Customize all notifications messages, and date and time formats</li>
        </ul>
        <hr>
        <form>
            <p class="title"> BOOK A TABLE </p>
            <div class="form-group row has-success has-warning has-danger form-inline">
                <label class="sr-only" for="inlineFormInput"></label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Date">
                </div>
                <label for="example-text-input" class="col-4 col-form-label"></label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                    <input class="form-control" type="text" placeholder="Time">
                </div>
            </div>
            <div class="form-group row has-success has-warning has-danger form-inline">
                <label class="sr-only" for="inlineFormInputGroup"></label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Party">
                </div>
                <label for="example-text-input" class="col-4 col-form-label"></label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                 <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                <input class="form-control" type="text" placeholder="Name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>



    <div class="col-md-3 sidebar">

        DELICIOUS FOOD Quickly confirm or reject a booking Admin email notification when a booking request is made Customer email
        notifications when their request is confirmed or rejected Limit available booking times (try booking on Christmas
        below) Customer user role to manage bookings Add your booking form to any page, post or widget area Customize all
        notifications messages, and date and time formats.
        <hr>

        <div clas="sidebar-module sidebar-module-inset">
            <p class="title"> SEARCH </p>
            At Luigi’s Italian Cuisine we start cooking your fresh delicious meal from scratch
            <div class="form-group has-feedback">
                <label class="control-label"></label>
                <input type="text" class="form-control" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
        <hr>

        <div clas="sidebar-module">
            CUSTOMER REVIEWS These guys can cook! I went for the first time last month and have been back four times already. Amazing
            dishes and the menu is always changing. 29 OCTOBER, 2015 Jane Doe Local Foodie Magazine
        </div>
        <hr>

        <div clas="sidebar-module">
            RECENT NEWS FROM THE BLOG 29 OCTOBER 2015 Luigi’s wins “Best Foodie Source” Award Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Praesent eleifend est ipsum, quis fringilla velit fermentum et. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam luctus hendrerit sem, vitae luctus arcu molestie
            nec. Read More Luigi’s wins “Best Foodie Source” Award Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent eleifend est ipsum, quis fringilla velit fermentum et. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; Aliquam luctus hendrerit sem, vitae luctus arcu molestie nec. Read
            More

        </div>
        <hr>
        <div class="sidebar-module">
            <table class="table table-striped table-responsive">
                <p class="title">OPENING HOURS</p>
                <tbody>
                    <tr>
                        <th scope="row">Monday</th>
                        <td> 9:00 am – 5:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Tuesday</th>
                        <td>9:00 am – 5:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Wednesday</th>
                        <td> 9:00 am – 5:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Thursday</th>
                        <td> 9:00 am – 5:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Friday</th>
                        <td> 9:00 am – 5:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Saturday</th>
                        <td> 9:00 am – 10:00 pm </td>
                    </tr>
                    <tr>
                        <th scope="row">Sunday</th>
                        <td> Closed </td>
                    </tr>
                </tbody>
            </table>


        </div>


    </div>
    <hr>

</div>